/* Общее */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
    height: 100%;
    background: none;
    overflow: auto; /* Включаем прокрутку */
    display: flex;
    flex-direction: column;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bgVideo {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; /* Высота хедера */
    cursor: pointer;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    grid-template-rows: 1fr 1fr; /* Две строки */
    gap: 20px; /* Отступы между постерами */
    padding: 20px;
    height: 80%; /* Высота секции контента 80% от высоты экрана */
}

.poster-container {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
}

.poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.poster-container h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 90%;
    box-sizing: border-box;
}

.movies-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Два постера в ряд */
    gap: 15px;
    justify-items: center;
    background: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Сетка для двух постеров в ряду */
    gap: 15px; /* Отступы между элементами */
    justify-items: center;
}

.gallery-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    width: 160px; /* Ширина контейнера */
    height: 300px; /* Высота контейнера */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: 100%;
    height: 220px; /* Высота изображения */
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 4px;
}

.gallery-item h3 {
    font-size: 16px;
    margin: 0;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    height: 10%; /* Высота футера */
    display: flex;
    justify-content: center;
    align-items: center;
}
