/* Общее */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
    height: 100%;
    background: none;
    overflow: hidden; /* Отключаем прокрутку */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bgVideo {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%; /* Высота хедера равна 15% от высоты окна */
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%; /* Основная часть высоты */
    padding: 10px 0;
    width: 80%; /* Ширина секции 80% от ширины экрана */
    margin: 0 auto;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Иконки занимают 100% ширины родительского контейнера */
    height: calc((100% - 40px) / 3); /* Высота иконок с учетом отступов */
}

.category + .category {
    margin-top: 20px; /* Отступ между иконками */
}

.category img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 5px;
}

.category h3 {
    font-size: 14px;
    margin: 0;
}

.category:hover {
    transform: scale(1.05);
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    height: 15%; /* Высота футера равна 15% от высоты окна */
    display: flex;
    justify-content: center;
    align-items: center;
}
